body {
    font-family: Arial, sans-serif;
    background-color: rgba(244, 244, 244, 0.15);
}

.quiz-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(255, 255, 255, 1.48);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
